body {
  font-family: "Poppins";
  background-color: #272044;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/vienna\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 260px 0;
}
h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

header a {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #272044;
  background-color: white;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

.profile {
  color: white;
  font-size: 10px;
  text-align: center;
  margin: 20px 0 40px 0;
}

.profile a {
  color: aliceblue;
}

main {
  background-color: white;
  color: #272044;
}

main h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  text-align: left;
  opacity: 30%;
  text-transform: uppercase;
  margin: 0;
}

main h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

main p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

footer {
  color: white;
  font-size: 12px;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/vienna\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
}

footer p {
  opacity: 70%;
}

footer a {
  color: white;
  opacity: 70%;
  text-decoration: none;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.secondary {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

.img-responsive {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-3-col-first-sm {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
  display: block;
}

main h4 {
  color: #272044;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}

main h5 {
  margin: 0;
}

.btn {
  display: block;
  color: white;
  padding: 16px 32px 16px 32px;
  background-color: #462cb2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
